.navigation__link a:hover {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", Verdana, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 21px;
  font-style: normal;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
}

h3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  font-style: normal;
}

h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
}

.links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}

.links__link {
  margin-right: 9px;
}

.link_facebook {
  display: inline-block;
  background-image: url(asets/facebook.svg);
  width: 32px;
  height: 32px;
}
.link_google {
  background-image: url(asets/google+.svg);
  width: 32px;
  height: 32px;
  display: inline-block;
}
.link_twitter {
  background-image: url(asets/twitter.svg);
  width: 32px;
  height: 32px;
  display: inline-block;
}
.link_linkedin {
  background-image: url(asets/linkedin.svg);
  width: 32px;
  height: 32px;
  display: inline-block;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
}

.portfolio {
  background-color: #2d303a;
  display: flex;
  padding: 10px 0 35px 0;
  border-bottom: 6px solid #323746;
}

.portfolio__header {
  margin: 56px 0 0 36px;
  color: #666d89;
}

.portfolio__description {
  margin: 25px 0 0 39px;
  color: #767e9e;
}

.portfolio__tabs {
  padding-top: 10px;
  padding-left: 39px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  color: #767e9e;
}

.portfolio__tabs .tab {
  cursor: pointer;
  margin-right: 7px;
  padding: 2px 7px 3px 6px;
  border: 1px solid #767e9e;
  border-radius: 5px;
}
.portfolio__tabs .tab_selected {
  color: #ffffff;
  border-color: #ffffff;
}

.photos {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 30px;
}
@media (max-width: 1020px) {
  .photos {
    padding: 0 10px 0 20px;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .photos {
    justify-content: space-around;
  }
}

.photos__photo {
  flex-basis: 8%;
  margin: 0 10px 18px 9px;
}
@media (max-width: 1020px) {
  .photos__photo {
    flex-basis: 25%;
  }
}
@media (max-width: 767px) {
  .photos__photo {
    flex-basis: 35%;
  }
}

@media (max-width: 767px) {
  .photos__photo img {
    width: 140px;
  }
}

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding: 15px 0 10px;
  color: #ffffff;
  height: 62px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__wrapper {
    display: block;
  }
}

.logo {
  font-size: 2.3rem;
  font-weight: 900;
  line-height: 18px;
  font-style: normal;
  margin-left: 40px;
}
@media (max-width: 767px) {
  .logo {
    text-align: center;
  }
}

.logo .logo-span {
  color: #f06c64;
}

.navigation {
  display: flex;
  margin: 0 40px 0;
}
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__link.navigation__link {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 12px;
  font-style: normal;
  cursor: pointer;
  margin-top: 11px;
  padding: 0 13px 0 13px;
}

.navigation__link.navigation__link_active a {
  color: #f06c64;
  text-decoration: none;
}

.navigation__link.navigation__link_pasive a {
  color: #ffffff;
  text-decoration: none;
}

.navigation__link a:hover {
  color: #f06c64;
}

.phones {
  background-color: #f06c64;
  border-bottom: 15px solid #ea676b;
  padding: 0 0 45px;
}

.phones__wrapper {
  display: flex;
  justify-content: space-between;
}

.phones__pointer_icon {
  padding-top: 280px;
}
@media (max-width: 1020px) {
  .phones__pointer_icon {
    padding-top: 200px;
  }
}
@media (max-width: 767px) {
  .phones__pointer_icon {
    padding-top: 140px;
  }
}

.icon-pointer.icon-pointer_left {
  background-image: url(asets/pointer-left.svg);
  width: 16px;
  height: 27px;
  display: inline-block;
  margin-left: 40px;
}
@media (max-width: 767px) {
  .icon-pointer.icon-pointer_left {
    margin-left: 20px;
  }
}
.icon-pointer.icon-pointer_right {
  background-image: url(asets/pointer-right.svg);
  width: 16px;
  height: 27px;
  display: inline-block;
  margin-right: 37px;
}
@media (max-width: 767px) {
  .icon-pointer.icon-pointer_right {
    margin-right: 15px;
  }
}

.phones__phone img {
  position: relative;
}

.phone.phone_vertical {
  z-index: 2;
  margin: 52px 0 0 55px;
}
@media (max-width: 1020px) {
  .phone.phone_vertical {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .phone.phone_vertical {
    width: 70px;
    margin: 52px 0 0 30px;
  }
}
.phone.phone_horizontal {
  z-index: 2;
  margin: 173px 0 0 42px;
}
@media (max-width: 1020px) {
  .phone.phone_horizontal {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .phone.phone_horizontal {
    width: 145px;
    margin: 105px 0 0 15px;
  }
}

.phone.shadow_vertical {
  z-index: 1;
  margin: -460px 0 0 55px;
}
@media (max-width: 1020px) {
  .phone.shadow_vertical {
    width: 178px;
  }
}
@media (max-width: 767px) {
  .phone.shadow_vertical {
    width: 80px;
    margin: -460px 0 0 30px;
  }
}
.phone.shadow_horizontal {
  z-index: 1;
  margin: -218px 0 0 42px;
}
@media (max-width: 1020px) {
  .phone.shadow_horizontal {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .phone.shadow_horizontal {
    width: 150px;
    margin: -218px 0 0 20px;
  }
}

.services {
  background-color: #f2f2f2;
  display: flex;
  border-bottom: 6px solid #ffffff;
  padding-bottom: 30px;
}

.services__header {
  margin: 68px 40px 0 41px;
  color: #666d89;
}

.services__description {
  margin: 25px 40px 0 41px;
  color: #767e9e;
}

.services .layout-3-column {
  display: flex;
  flex-wrap: wrap;
  padding: 47px 0 0 40px;
}
.services .layout-3-column > * {
  flex-basis: 28%;
}
@media (max-width: 1020px) {
  .services .layout-3-column {
    display: flex;
    flex-wrap: wrap;
  }
  .services .layout-3-column > * {
    flex-basis: 45%;
  }
}
@media (max-width: 767px) {
  .services .layout-3-column {
    display: flex;
    flex-wrap: wrap;
  }
  .services .layout-3-column > * {
    flex-basis: 60%;
  }
}

.tool {
  display: flex;
  margin: 0 30px 10px 0;
}

.text__header {
  margin: 0;
  color: #666d89;
}

.text__info {
  margin-top: 9px;
  width: 210px;
  color: #767e9e;
}

.icon-round {
  margin-right: 20px;
}
.icon-round_pen {
  background-image: url(asets/pen.svg);
  width: 59px;
  height: 59px;
  display: inline-block;
}
.icon-round_bulb {
  background-image: url(asets/bulb.svg);
  width: 59px;
  height: 59px;
  display: inline-block;
}
.icon-round_heart {
  background-image: url(asets/heart.svg);
  width: 59px;
  height: 59px;
  display: inline-block;
}
.icon-round_phone {
  background-image: url(asets/phone.svg);
  width: 59px;
  height: 59px;
  display: inline-block;
}
.icon-round_mind {
  background-image: url(asets/mind.svg);
  width: 59px;
  height: 59px;
  display: inline-block;
}
.icon-round_star {
  background-image: url(asets/star.svg);
  width: 59px;
  height: 59px;
  display: inline-block;
}

.about {
  background-color: #f2f2f2;
  display: flex;
  border-bottom: 6px solid #ffffff;
  padding-bottom: 62px;
}

.about__header {
  margin: 65px 0 0 40px;
  color: #666d89;
}

.about__description {
  margin: 25px 0 0 38px;
  color: #767e9e;
}

.about .layout-3-column {
  padding: 42px 0 0 35px;
  display: flex;
  flex-wrap: wrap;
}
.about .layout-3-column > * {
  flex-basis: 32.5%;
}
@media (max-width: 1020px) {
  .about .layout-3-column {
    justify-content: space-around;
    padding: 42px 20px 0 35px;
  }
}

@media (max-width: 1020px) {
  .person {
    flex-basis: 25%;
  }
}

@media (max-width: 1020px) {
  .person img {
    width: 220px;
  }
}

.person__header {
  color: #666d89;
  margin-bottom: 0;
}

.person__description {
  color: #767e9e;
  margin-top: 10px;
}

.about__links .links {
  padding-left: 0px;
}

.contact {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  color: #f0d8d9;
  display: flow-root;
}

.contact__header {
  padding: 43px 0 0 40px;
}

.contact__description {
  padding: 0px 0 0 40px;
}

.contact .layout-2-column {
  display: flex;
}
@media (max-width: 767px) {
  .contact .layout-2-column {
    display: block;
  }
}

.contact__form {
  width: 2100px;
}
@media (max-width: 767px) {
  .contact__form {
    width: 85%;
  }
}

.contact .layout-2-column form {
  display: inline-grid;
  margin: 26px 0 0 39px;
  width: 94%;
}
.contact .layout-2-column form textarea, .contact .layout-2-column form input {
  background-color: #d6564f;
  resize: none;
  border: none;
  margin: 0 0 15px 0;
  border-radius: 5px;
  color: #ffffff;
  padding: 12px;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  font-style: normal;
}
.contact .layout-2-column form input:last-child {
  width: 25%;
}
.contact .layout-2-column form textarea {
  height: 180px;
}

.contact__information__header {
  margin: 25px 0 10px 20px;
}

.contact__information__description {
  margin: 0 0 10px 20px;
  padding-right: 50px;
}

.information__links {
  padding: 10px 0 0 20px;
}

.information__link {
  margin: 0 0 10px 0;
}

.information__links a {
  margin: 0 0 0 10px;
  text-decoration: none;
  color: #f0d8d9;
}

.map__icon {
  background-image: url(asets/map.svg);
  width: 7px;
  height: 11px;
  display: inline-block;
}

.telephone__icon {
  background-image: url(asets/telephone.svg);
  width: 11px;
  height: 11px;
  display: inline-block;
}

.email__icon {
  background-image: url(asets/mail.svg);
  width: 13px;
  height: 8px;
  display: inline-block;
}

.footer {
  background-color: #2d303a;
  height: 76px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__wrapper {
    display: block;
  }
}

.footer__header {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  font-style: normal;
  color: #767e9e;
  margin: 35px 0 0 41px;
}
@media (max-width: 767px) {
  .footer__header {
    display: none;
  }
}

.footer__links {
  padding: 25px 30px;
}
@media (max-width: 767px) {
  .footer__links {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
